@model formCreator.Models.Form

@{
    ViewBag.Title = "Details";
}

    <h2>@Html.DisplayFor(model => model.Name)</h2>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <ul>
        @foreach (formCreator.Models.Attribute att in Model.Attributes) {
        <li></li>
        }
    </ul>

