@model formCreator.Models.Form

@{
    ViewBag.Title = "Details";
}

<div class="row">
	<div class="span6 offset3">

        <h2>@Html.DisplayFor(model => model.Name)</h2>

        <h3>Form Items</h3>

        <ul>
            @if (Model.Attributes == null)
            {
                foreach (formCreator.Models.Attribute att in Model.Attributes) {
                    <li>@Html.DisplayFor(a => att.Name)</li>
                }
            }
            else
            {
                <li>No form items</li>
            }
        </ul>

    </div>
</div>

