@model IEnumerable<formCreator.Models.Form>

@{
    ViewBag.Title = "Index";
    ViewBag.Active = "List";
}

<div class="row">
	<div class="span6 offset3">
        <h2>Forms</h2>

        <ul>

            @foreach (var item in Model) {
            <li>
                @Html.ActionLink(item.Name, "Details", new { id=item.Id }) (@Html.ActionLink("Edit", "Edit", new { id=item.Id }), @Html.ActionLink("Details", "Details", new { id=item.Id }) )
            </li>    
            }

        </ul>

    </div>
</div>



